# Name: Bukunmi Olatoye
WTF/23/DS/A/065
bukunmi.olatoye@womentechsters.org

# 1) Print all elements of a list using for loop.

In [3]:
Room = [1,2,3,"Sade","Sola",40, 57]
for y in Room:
    print(y)

1
2
3
Sade
Sola
40
57

# 2) Using range(1,101), make two list, one containing all even numbers and other containing all odd numbers.

In [8]:

def Split(Buk):
    even_list = []
    odd_list = []
    for i in Buk:
        if (i % 2 == 0):
            even_list.append(i)
        else:
            odd_list.append(i)
    print("Even lists:", even_list)
    print("Odd lists:", odd_list)

Buk = [2, 3, 5, 13, 15, 60, 78, 88, 84, 95, 99]
Split(Buk)

Even lists: [2, 60, 78, 88, 84]
Odd lists: [3, 5, 13, 15, 95, 99]

# 3) A company decided to give bonus of 5% to employee if his/her year of service is more than 5years. Ask user for their salary and year of service and print the net bonus amount.

In [10]:
employee_salary = int(input("Enter your salary = "))
year_of_service = int(input("Enter your year of service = "))
if year_of_service >5:
  print("Your Net bonus is",0.05* employee_salary)

Enter your salary = 350000
Enter your year of service = 7
Your Net bonus is 17500.0

# 4) Take input of age of 3 people by user and determine oldest and youngest among them.

In [31]:
Sola = input()
Sade = input()
Sogo = input()

if Sola >= Sade and Sola >= Sogo:
    print ("The Oldest is Sola",Sola)
elif Sade >= Sola and Sade >= Sogo:
        print ("The Oldest is Sade",Sade) 
elif Sogo >= Sola and Sogo >= Sade:
        print ("The Oldest is Sogo",Sogo)
else:
        print ("All are equal")

30
87
56
The Oldest is Sade 87

# 6) Write a Python script to merge two Python dictionaries

In [33]:
d1 = {'Consultants' : 'Emmanuel Toyin', 'Coaches' : 'Abraham Joshua', 'Interns': 'Tolu', 'Associate' : 'Jadesola'}  
  
# Defines the d2 dictionary   
d2 = {'Mentors' : 'Maria',  'Coaches' : 'Fola',  'Main_Speaker' : 'Ayodeji',  'Panelist' : 'Elizabeth'}  
  
d1.update(d2)   
print( "Merge two dictionaries :")  
print(d1)

Merge two dictionaries :
{'Consultants': 'Emmanuel Toyin', 'Coaches': 'Fola', 'Interns': 'Tolu', 'Associate': 'Jadesola', 'Mentors': 'Maria', 'Main_Speaker': 'Ayodeji', 'Panelist': 'Elizabeth'}

# 7) Write a Python program to remove a key from a dictionary.

In [55]:
d1 = {'Consultants' : 'Emmanuel Toyin', 'Vendors' : 'Abraham Joshua', 'Interns': 'Tolu', 'Associate' : 'Jadesola'}
print("Dictionary before removing key: ",d1)

Dictionary before removing key:  {'Consultants': 'Emmanuel Toyin', 'Vendors': 'Abraham Joshua', 'Interns': 'Tolu', 'Associate': 'Jadesola'}

In [56]:
del d1['Associate']
print("Dictionary after removing key: ",d1)

Dictionary after removing key:  {'Consultants': 'Emmanuel Toyin', 'Vendors': 'Abraham Joshua', 'Interns': 'Tolu'}

# 8) Write a Python program to get the largest number from a list

In [58]:
list = [20, 50, 40, 10, 56, 1050]
print("Largest number is:", max(list))

Largest number is: 1050

# A school has following rules for grading system:

a. Below 25 - F

b. 25 to 45 - E

c. 45 to 50 - D

d. 50 to 60 - C

e. 60 to 80 - B

f. Above 80 - A

5) Ask user to enter marks and print the corresponding grade

In [64]:
score = input("Your score:")
score = int(score)
if score < 25:  

   print("F")

elif score >= 25 and score < 45:  

   print("E")

elif score >= 45 and score < 50:  

   print("D")

elif score >= 50 and score < 60:  

   print("C")

elif score >= 60 and score < 80:  

   print("B")

else:  

   print("A")

Your score:60
B